{% extends 'generic/dual_column.html' %}

{% block left %}
  <div class="base-card card bg-dark my-3">
    <div class="card-header d-flex justify-content-between">
      <h3>
        {{ event.name }}
      </h3>
      <div>
        <a class="btn btn-success" href="{% url 'event_update' event.pk %}">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div><a class="link" href="{{ event.organization.get_absolute_url }}">{{ event.organization.name }}</a></div>
      {% if event.logo %}
        <div><img src="{{ event.logo.url }}" alt="{% trans 'Logo' %}" height="420px" /></div>
      {% endif %}
      <dl class="detail-horizontal">
        <dt>Email</dt>
        <dd>{{ event.email }}</dd>
        <dt>Telephone</dt>
        <dd>{{ event.telephone_number }}</dd>
        <dt>Website</dt>
        <dd>{{ event.website }}</dd>
        <dt>Start Date</dt>
        <dd>{{ event.start_date }}</dd>
        <dt>End Date</dt>
        <dd>{{ event.end_date }}</dd>
        <dt>Description</dt>
        <dd>{{ event.description }}</dd>
        <dt>Public</dt>
        <dd>{{ event.public }}</dd>
      </dl>
    </div>
  </div>
  <div class="base-card card bg-dark my-3">
    <div class="card-body">
      Allowed Organizations:
      {% for organization in event.allowed_organizations.all %}
        {{ organization.name }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block right %}
  <div class="row my-3">
    <div class="col-md-6">
      <div class="card bg-dark h-100">
        <div class="card-body d-flex align-items-center">
          <table>
            <tr title="{% trans "Shifts that are below the required amount of users" %}">
              <th>{% trans "Shifts missing users" %}:</th>
              <td class="ps-3">{{ event.needing_shifts|length }}</td>
            </tr>
            <tr title="{% trans "Shifts that are below the required and maximum amount of users" %}">
              <th>{% trans "Shifts with open slots" %}:</th>
              <td class="ps-3">{{ event.open_shifts|length }}</td>
            </tr>
            <tr title="{% trans "Number of Shift slots filled with users" %}">
              <th>{% trans "Filled Slots" %}:</th>
              <td class="ps-3">{{ event.filled_slots|default_if_none:_('None') }}</td>
            </tr>
            <tr title="{% trans "Number of Shift slots that are still open" %}">
              <th>{% trans "Open Slots" %}:</th>
              <td class="ps-3">{{ event.needed_slots|default_if_none:_('None') }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark h-100">
        <div class="card-body">
          {% include "month_view.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}