{% extends 'generic/fluid_split_title_card.html' %}

{% block left_card_title %}
  {% if full %}
    <h3>{% trans "All Events" %}</h3>
  {% else %}
    <h3>{% trans "Current Events" %}</h3>
  {% endif %}
{% endblock %}

{% block right_card_title %}
  {% if perms.organization.admin %}
    <a class="btn btn-warning m-2" href="{% url 'events' %}" title="{% trans "All Events" %}">
      <i class="fa-solid fa-list"></i>
    </a>
    <a class="btn btn-warning m-2" href="{% url 'future_events' %}" title="{% trans "All upcoming Events" %}">
      <i class="fa-solid fa-hourglass-start"></i>
    </a>
  {% endif %}
  {% include 'generic/modular_search.html' with placeholder=_('Enter Name or Organization') %}
  {% if future %}
    <a class="btn btn-success m-2" href="{% url 'my_events' %}" title="{% trans "All Events" %}">
      <i class="fa-solid fa-hourglass-end"></i>
    </a>
  {% else %}
    <a class="btn btn-success m-2" href="{% url 'my_future_events' %}"  title="{% trans "Future Events" %}">
      <i class="fa-solid fa-hourglass-start"></i>
    </a>
  {% endif %}
{% endblock %}

{% block card_body %}
  <div class="content-container">
    {% for event in events %}
      {% include "events/template/event.html" with organization=organization %}
    {% empty %}
      <div class="organization-container">
        <div class="card bg-dark border border-3 organization-content d-flex align-items-center justify-content-center">
          <h3 class="text-center">{% trans "No Events found." %}</h3>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
{% endblock %}