:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #fff;
  --bs-body-bg: #212529;
  --bs-menu-bg: #0b0c0e;
}

.menu{
  background-color: var(--bs-menu-bg);
}

.search-menu {
  width: 25%;
  max-width: 350px;
  border: 0;
  flex-direction: row-reverse;
  flex-grow: 1;
  margin-right: 1rem;
}

.search-bar {
  border: 2px solid var(--bs-gray-500);
  display: flex;
  flex-direction: inherit;
  border-radius: .25rem;
  color: var(--bs-gray-500);
  position: relative;
  width: 100%;
}

.search-bar:hover {
  color: white;
  border-color: white;
}

.search-bar:focus-within {
  border-color: var(--bs-green);
  color: var(--bs-green);
}

.search-bar:focus-within > .search-bar__input {
  color: var(--bs-body-color);
}

.search-bar__input {
  flex-grow: 1;
  border: 0;
  background: transparent;
  color: inherit;
  position: absolute;
  margin-left: .5rem;
  top: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  width: calc(100% - 40px);
}

.search-bar__submit {
  border: 0;
  border-radius: 50%;
  padding: 3px;
  background-color: var(--bs-menu-bg);
  color: inherit;
  margin-left: auto;
}

.search-bar__submit:hover {
  background: var(--accent);
  color: white;
}
