:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #4d5459;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 77, 84, 89;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 21, 22, 24;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #fff;
  --bs-body-bg: #212529;
  --bs-menu-bg: #0b0c0e;
}

input, textarea, select, .form-control, .form-select {
  background-color: var(--bs-dark) !important;
  color: var(--bs-body-color) !important;
}

input:disabled {
  opacity: .2 !important;
}

/*pagination*/

.page-item.disabled .page-link {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  opacity: .4;
}


.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-gray-700);
}

.page-item.active .page-link {
  background-color: var(--bs-green);
  border-color: var(--bs-gray-700);
}

.page-link:hover {
  color: var(--bs-body-color);
  background-color: var(--bs-teal);
  border-color: var(--bs-gray-700);
}

.form-check-input {
  border-color: var(--bs-body-color) !important;
}

.plain-link, .link, .link-remove {
  cursor: pointer;
  text-decoration: none;
  color: var(--bs-body-color);
}

.link:hover {
  color: var(--bs-teal) !important;
  --bs-table-striped-color: var(--bs-teal) !important;
}

.link-remove:hover {
  color: var(--bs-danger) !important;
  --bs-table-striped-color: var(--bs-danger) !important;
  border-color: var(--bs-danger) !important;
}

.btn.active {
  background-color: var(--bs-green) !important;
}

.card-link:hover {
  border: 2px solid var(--bs-green) !important;
}

.base-card {
  min-width: 300px;
}

.menu {
  background-color: var(--bs-menu-bg);
  min-width: 200px;
}

.search-menu {
  width: 20rem;
  max-width: 250px;
  border: 0;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.search-menu input {
  height: 100%;
  background-color: transparent !important;
}


.search-bar {
  border: 2px solid var(--bs-gray-500);
  display: flex;
  flex-direction: inherit;
  border-radius: .25rem;
  color: var(--bs-gray-500);
  position: relative;
  width: 100%;
  height: 35px;
}

.search-bar:hover {
  color: white;
  border-color: white;
}

.search-bar:focus-within {
  border-color: var(--bs-green);
  color: var(--bs-green);
}

.search-bar:focus-within > .search-bar__input {
  color: var(--bs-body-color);
}

.search-bar__input {
  flex-grow: 1;
  border: 0;
  background: transparent;
  color: inherit;
  position: absolute;
  margin-left: .5rem;
  top: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  width: calc(100% - 40px);
}

.search-bar__submit {
  border: 0;
  /*padding: 3px;*/
  background-color: var(--bs-menu-bg);
  color: inherit;
  margin-left: auto;
}

.search-bar__submit:hover {
  background: var(--bs-success);
  color: white;
}

.login-option {
  height: 100px;
}

.login-option:hover {
  -webkit-transition: width 4s ease-in-out;
  -moz-transition: width 4s ease-in-out;
  -o-transition: width 4s ease-in-out;
  transition: width 4s ease-in-out;
  cursor: pointer;
  transform: scale(1.25);
}

.pe-pointer {
  cursor: pointer;
}

.pe-help {
  cursor: help;
}

.alert-primary {
  color: #084298;
  background-color: #cfe2ff;
  border-color: #b6d4fe;
}

.alert-primary .alert-link {
  color: #06357a;
}

.alert-secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.alert-secondary .alert-link {
  color: #34383c;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-success .alert-link {
  color: #0c4128;
}

.alert-info {
  color: #055160;
  background-color: #cff4fc;
  border-color: #b6effb;
}

.alert-info .alert-link {
  color: #04414d;
}

.alert-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}

.alert-warning .alert-link {
  color: #523e02;
}

.alert-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

.alert-error .alert-link {
  color: #6a1a21;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

dl.detail-horizontal dt {
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--bs-body-color);
  font-weight: bold;
}

dl.detail-horizontal dt::after {
  content: ':';
}

dl.detail-horizontal dd {
  padding-left: .5rem;
}

.card-grid {
  grid-template-columns: repeat(auto-fill, 1fr);
  row-gap: .5rem;
  column-gap: .5rem;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 600px));
  padding: .5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-content: center;
}

/*calendar*/
.month-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}


/*organizations*/
.organization-detail-logo {
  height: 175px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.organization-container {
  margin: 0;
  height: 17rem;
  max-height: 20rem;
}

.organization-container a {
  text-decoration: none;
}

.organization-container a:hover {
  color: var(--bs-teal);
  text-decoration: none;
}


.organization-content {
  display: grid;
  grid-template-areas: "data logo"
                       "data website"
                       "data contact";
  grid-template-rows: 1fr auto;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.organization-content:hover {
  border: 6px solid var(--bs-green) !important;
}

.organization-logo {
  grid-area: logo;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--bs-gray-700);
  border-left: 2px solid var(--bs-body-color);
  border-bottom: 2px solid var(--bs-body-color);
}

.organization-logo img {
  margin: auto;
  max-width: 100%;
  height: auto;
  width: auto;
  max-height: 150px;
}

.organization-data {
  grid-area: data;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}

.organization-description {
  grid-area: data;
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  max-height: 10rem;
}

.organization-url {
  grid-area: website;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 12px;
  border-left: 2px solid var(--bs-body-color);
}

.organization-contact {
  grid-area: contact;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 12px;
  border-left: 2px solid var(--bs-body-color);
}

@media (max-width: 900px) {
  .organization-container {
    height: 25rem;
  }

}

/*shifts*/

.shift-slots {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  row-gap: 1rem;
  justify-content: center;
  text-align: center;
}

.shift-info {
  max-height: 500px
}

.shift-required, .shift-required button, .shift-required span {
  color: var(--bs-orange) !important;
  border-color: var(--bs-orange) !important;
}

.table-fixed {
  table-layout: fixed;
  white-space: nowrap;
}

td.disabled {
  opacity: 5%;
}

.calendar-week {
  height: 85vh;
  min-width: 1150px;
}

.week-grid {
  display: grid;
  grid-template-rows: 2rem repeat(24, 1fr);
  text-align: center;
}

.week-grid div, .hour-grid div {
  border-color: var(--bs-gray-700) !important;
}

.hour-grid {
  display: grid;
  grid-template-columns: 4rem repeat(7, 1fr);
}

.hour-container {
  overflow: hidden;
}

.hour-container:hover {
  overflow: unset;
}

.color-sample {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--bs-body-color);
}