{% extends 'base.html' %}
{% block head %}
  <script type="text/javascript" src="{% static "js/save_and_restore.js" %}"></script>
  <script type="text/javascript" src="{% static "js/time_frame_visibility.js" %}"></script>
{% endblock %}
{% block content %}
  <div class="container-lg">
    {% bootstrap_form_errors form layout='inline' %}
    <div class="card base-card bg-dark border border-success border-3 mt-3">
      <form method="post">
        {% csrf_token %}
        <div class="card-header center-items justify-content-between">
          <div class="col-8">
            <h4>
              {% bootstrap_field form.name form_group_class='d-flex flex-row align-items-center' label_class='m-0 me-3' %}
            </h4>
          </div>
          <div class="col-1">
            {% bootstrap_button _('Save') button_type="submit" button_class="btn-success" %}
          </div>
        </div>
        <div>
          <div class="p-2">
            <div class="row">
              <div class="col-sm-4">{% trans "Time Frame" %}:</div>
              <div class="col-sm-8">
                {% bootstrap_field form.time_frame_field show_label=False %}
              </div>
              <div class="col-sm-4">{% trans "Ordinal" %}:</div>
              <div class="col-sm-8">{% bootstrap_field form.ordinal show_label=False %}</div>
              <div class="col-sm-4"><span id="month_label">{% trans "Month" %}:</span></div>
              <div class="col-sm-8">{% bootstrap_field form.month_field show_label=False %}</div>
              <div class="col-sm-4"><span id="week_day_label">{% trans "Weekday" %}:</span></div>
              <div class="col-sm-8">{% bootstrap_field form.week_day_field show_label=False %}</div>
              <div class="col-sm-4">{% trans "Time" %}:</div>
              <div class="col-sm-8">{% bootstrap_field form.time show_label=False %}</div>
              <div class="col-sm-4">{% trans "First Occurence" %}:</div>
              <div class="col-sm-8">{% bootstrap_field form.first_occurrence show_label=False %}</div>
            </div>
          </div>
          <div class="p-2">
            <h4 class="">{% trans "Shift Type" %}:</h4>
            <div class="center-items ms-2">
              {% bootstrap_field form.shift_type show_label=False form_group_class="col-10 col-sm-11" %}
              <a class="btn btn-success col-2 col-sm-1 mx-2 my-1" href="{% url "shift_type_create" %}">
                <i class="fa-solid fa-square-plus"></i>
              </a>
            </div>
            <h4 class="mt-3">{% trans "Shift Duration" %}:</h4>
            {% bootstrap_field form.duration show_label=False %}
            <h4 class="mt-3">{% trans "Place" %}:</h4>
            {% bootstrap_field form.place show_label=False %}
            <h4 class="mt-3">{% trans "Organization" %}:</h4>
            {% bootstrap_field form.organization show_label=False %}
            <h4 class="mt-3">{% trans "Required Users" %}:</h4>
            {% bootstrap_field form.required_users show_label=False %}
            <h4 class="mt-3">{% trans "Max Users" %}:</h4>
            {% bootstrap_field form.max_users show_label=False %}
            <h4 class="mt-3">{% trans "Addtional Information" %}:</h4>
            {% bootstrap_field form.additional_infos show_label=False %}
          </div>
        </div>
        <hr class="mt-0">
        <div class="ms-2">
          <h4>{% trans "Warnings" %}:</h4>
          <div class="row">
            <div class="col-md ms-2 me-2">
              <h6>{% trans "Weekend Warning" %}</h6>
              {% bootstrap_field form.weekend_handling_field show_label=False %}
              {% bootstrap_field form.weekend_warning show_label=False %}
            </div>
            <div class="col-md ms-2 me-2">
              <h6>{% trans "Holiday Warning" %}</h6>
              {% bootstrap_field form.holiday_handling_field show_label=False %}
              {% bootstrap_field form.holiday_warning show_label=False %}
            </div>
          </div>
      </form>
    </div>
  </div>
{% endblock %}