{% extends 'base.html' %}
{% block head %}
  <script type="text/javascript" src="{% static "js/save_and_restore.js" %}"></script>
  <script type="text/javascript" src="{% static "js/time_frame_visibility.js" %}"></script>
{% endblock %}
{% block content %}
  <div class="container-lg">
    {% bootstrap_form_errors form layout='inline' %}
    <div class="card base-card bg-dark border border-success border-3 mt-3">
      <form method="post">
        {% csrf_token %}
        <div class="card-header center-items justify-content-between">
          <div class="col-8">
            <h4>
              {% bootstrap_field form.name form_group_class='d-flex flex-row align-items-center' label_class='m-0 me-3' %}
            </h4>
          </div>
          <div class="col-1">
            {% bootstrap_button _('Save') button_type="submit" button_class="btn-success" %}
          </div>
        </div>
        <div>
          <div class="p-2">
            <div class="row">
              <div class="col-sm-4">{% trans "Time Frame" %}:</div>
              <div class="col-sm-8">
                {% bootstrap_field form.time_frame_field show_label=False %}
              </div>
              <div class="col-sm-4">{% trans "Ordinal" %}:</div>
              <div class="col-sm-8">{% bootstrap_field form.ordinal show_label=False %}</div>
              <div class="col-sm-4"><span id="month_label">{% trans "Month" %}:</span></div>
              <div class="col-sm-8">{% bootstrap_field form.month_field show_label=False %}</div>
              <div class="col-sm-4"><span id="week_day_label">{% trans "Weekday" %}:</span></div>
              <div class="col-sm-8">{% bootstrap_field form.week_day_field show_label=False %}</div>
              <div class="col-sm-4">{% trans "First Occurence" %}:</div>
              <div class="col-sm-8">{% bootstrap_field form.first_occurrence show_label=False %}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}