{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    {% if 'date' in request.GET and org_perms.edit_shifts %}
      <div class="col-12 col-xl-8">
        <div class="card bg-dark mt-3 p-3 border-success border-3">
          <form method="post" action="{% url 'recurring_create_shifts' shift.pk %}">
            {% csrf_token %}
            <input id="id_create_date" name="create_date" class="d-none" value="{{ request.GET.date }}">
            {% blocktrans with date=request.GET.date %}
              Do you want to create this recurring shift on {{ date }}
            {% endblocktrans %}
            <button class="btn btn-success" type="submit">{% trans "Create" %}</button>
          </form>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header center-items justify-content-between">
            <h3 class="m-0">{{ shift.name }}</h3>
            <div>
              {% if org_perms.edit_recurring_shifts %}
                <a class="btn btn-success" href="{% url "recurring_shift_update" shift.pk %}"
                   title="{% trans "Edit Recurring Shift" %}">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="card-body">
            {% blocktrans with repetition=shift.repetition_display time=shift.time %}
              <h5 class="text-warning">Repeats every: {{ repetition }} on {{ time }}</h5>
            {% endblocktrans %}
            <dl class="detail-horizontal">
              <dt>{% trans "First Occurrence" %}</dt>
              <dd>{{ shift.first_occurrence }}</dd>
              <dt>{% trans "Weekend Handling" %}</dt>
              <dd>{{ shift.weekend_handling.label.title }}</dd>
              {% if shift.weekend_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.weekend_warning|linebreaks }}</dd>
              {% endif %}
              <dt>{% trans "Holiday Handling" %}</dt>
              <dd>{{ shift.holiday_handling.label.title }}</dd>
              {% if shift.holiday_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.holiday_warning|linebreaks }}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
        {% include 'shifts/template/group_template.html' with group=shift.template %}
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Upcoming recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in upcoming_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} in {{ shift.start|timeuntil }}
                  </a>
                </li>
              {% empty %}
                {% trans "No upcoming created Shifts" %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Passed recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in passed_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} {{ shift.start|timesince }} ago
                  </a>
                </li>
              {% empty %}
                {% trans "No created Shifts have passed yet" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}