{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header center-items justify-content-between">
            <h3 class="m-0">{{ shift.name }}</h3>
            <div>
              <a class="btn btn-success" href="{% url "recurring_shift_update" shift.pk %}"
                 title="{% trans "Edit Recurring Shift" %}">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            {% blocktrans with repetition=shift.repetition_display time=shift.time %}
              <h5 class="text-warning">Repeats every: {{ repetition }} on {{ time }}</h5>
            {% endblocktrans %}
            <dl class="detail-horizontal">
              <dt>{% trans "First Occurance" %}</dt>
              <dd>{{ shift.first_occurrence }}</dd>
              <dt>{% trans "Weekend Handling" %}</dt>
              <dd>{{ shift.weekend_handling.label.title }}</dd>
              {% if shift.weekend_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.weekend_warning|linebreaks }}</dd>
              {% endif %}
              <dt>{% trans "Holiday Handling" %}</dt>
              <dd>{{ shift.holiday_handling.label.title }}</dd>
              {% if shift.holiday_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.holiday_warning|linebreaks }}</dd>
              {% endif %}
              <hr>
              <dt>{% trans "Shift Type" %}</dt>
              <dd>{{ shift.shift_type.name }}</dd>
              <dt>{% trans "Duration" %}</dt>
              <dd>{{ shift.duration }}</dd>
              <dt>{% trans "Place" %}</dt>
              <dd>{{ shift.place }}</dd>
              <dt>{% trans "Organization" %}</dt>
              <dd>{{ shift.organization.name }}</dd>
              <dt>{% trans "Required Users" %}</dt>
              <dd>{{ shift.required_users }}</dd>
              <dt>{% trans "Max Users" %}</dt>
              <dd>{{ shift.max_users }}</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Upcoming recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in upcoming_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} in {{ shift.start|timeuntil }}
                  </a>
                </li>
              {% empty %}
                {% trans "No upcoming created Shifts" %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Passed recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in passed_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} in {{ shift.start|timesince }}
                  </a>
                </li>
              {% empty %}
                {% trans "No created Shifts have passed yet" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}