{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header center-items justify-content-between">
            <h3 class="m-0">{{ shift.name }}</h3>
            <div>
              <a class="btn btn-success" href="{% url "recurring_shift_update" shift.pk %}"
                 title="{% trans "Edit Recurring Shift" %}">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            {% blocktrans with repetition=shift.repetition_display time=shift.time %}
              <h5 class="text-warning">Repeats every: {{ repetition }} on {{ time }}</h5>
            {% endblocktrans %}
            <dl class="detail-horizontal">
              <dt>{% trans "First Occurance" %}</dt>
              <dd>{{ shift.first_occurrence }}</dd>
              <dt>{% trans "Weekend Handling" %}</dt>
              <dd>{{ shift.weekend_handling.label.title }}</dd>
              {% if shift.weekend_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.weekend_warning|linebreaks }}</dd>
              {% endif %}
              <dt>{% trans "Holiday Handling" %}</dt>
              <dd>{{ shift.holiday_handling.label.title }}</dd>
              {% if shift.holiday_warning %}
                <dt class="ms-3">{% trans "Warning" %}</dt>
                <dd class="ms-4">{{ shift.holiday_warning|linebreaks }}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
        <div class="card bg-dark mt-3">
          <div class="card-header center-items justify-content-between">
            <h3 class="m-0">Shift Template {{ shift.template.name }}</h3>
            <div>
              <a class="btn btn-outline-info" href="{{ shift.template.get_absolute_url }}"
                 title="{% trans "Go to Shift Template" %}">
                {% trans "Go to Shift Template" %}
              </a>
              <a class="btn btn-success" href="{% url "template_group_update" shift.pk %}"
                 title="{% trans "Edit Shift Template" %}">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </div>
          </div>
          <div class="card-body">
            <dl class="detail-horizontal">
              <dt>{% trans "Place" %}</dt>
              <dd>{{ shift.template.place }}</dd>
              <dt>{% trans "Time" %}</dt>
              <dd>{{ shift.template.start_time }}</dd>
              <dt>{% trans "Organization" %}</dt>
              <dd>{{ shift.template.organization.name }}</dd>
            </dl>
          </div>
          {% for shift_template in shift.template.shifts.all %}
            <hr class="my-1">
            {% include "shifts/template/template.html" with template=shift_template start_time=shift.template.start_time %}
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Upcoming recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in upcoming_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} in {{ shift.start|timeuntil }}
                  </a>
                </li>
              {% empty %}
                {% trans "No upcoming created Shifts" %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card bg-dark mt-3">
          <div class="card-header">
            {% trans "Passed recurring Shifts" %}
          </div>
          <div class="card-body">
            <ul>
              {% for shift in passed_created_shifts %}
                <li>
                  <a class="link" href="{% url "shift" shift.pk %}">
                    {{ shift.name }} {{ shift.start|timesince }} ago
                  </a>
                </li>
              {% empty %}
                {% trans "No created Shifts have passed yet" %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}