{% if request.user.organizations|length > 1 %}
  <div class="calendar-entry">
    <button class="card calendar-shift-create" data-bs-toggle="modal" data-bs-target="#selectShiftOrgModal"
            data-bs-date="{{ date|date:"Y-m-d" }}" title="{% trans 'Create Shift' %}">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
{% elif request.user.organizations|length == 1 %}
  <a class="card calendar-shift-create" href="{% url "shift_create" user.organizations.0.pk %}?date={{ date|date:"Y-m-d" }}">
    <i class="fa-solid fa-plus"></i>
  </a>
{% endif %}