{% if is_form and see_details %}
  <div class="calendar-entry">
    <form action="{{ shift_link }}" method="post">
      {% csrf_token %}
      <input type="hidden" name="shift" value="{{ shift.pk }}">
      <button class="card calendar-shift"
              style="background-color: {{ shift.shift_type.color }}; color: {{ shift.shift_type.text_color }};"
              type="submit">
        {{ shift.organization.name }}: {{ shift.name }}
      </button>
    </form>
  </div>
{% else %}
  <div class="calendar-entry">
    {% if see_details %}
      <a class="card calendar-shift"
         style="background-color: {{ shift.shift_type.color }}; color: {{ shift.shift_type.text_color }};"
         href="{{ shift_link }}">
        {{ shift.organization.name }}: {{ shift.name }}
      </a>
    {% else %}
      {{ shift.organization.name }}
    {% endif %}
  </div>
{% endif %}