{% extends 'generic/form_base.html' %}
{% load shifts %}
{% block form %}
  <div class="card bg-dark mb-3">
    <div class="card-header center-items justify-content-between">
      <div>
        {% trans "Shift Summary" %} {{ display }}
      </div>
      <div>
        <a href="{{ previous_url }}"><< {{ previous_display }}</a>
        <a href="{{ next_url }}">{{ next_display }} >></a>
      </div>
    </div>
    <div class="card-body">
      {% member_shift_summary organization True %}
    </div>
  </div>
{% endblock %}