{% extends 'generic/form_base.html' %}
{% block form %}
  <div class="card bg-dark border border-2 border-success p-3">
  <form method="post" {% include 'generic/include_params.html' with params=form_params only %}>
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="flex-row-wrap">
      {% if is_create %}
        {% bootstrap_button _('Create') button_type="submit" button_class="btn-primary me-2" %}
      {% else %}
        {% bootstrap_button _('Save') button_type="submit" button_class="btn-primary" %}
      {% endif %}
    </div>
  </form>
  </div>
{% endblock %}