{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/calendar.css" %}" />
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row g-3 mt-1">
      <div class="col-12 col-xl-3">
        <div class="card base-card bg-dark p-3">
          <div class="row">
            <div class="col-md-12 d-flex flex-column">
              <div class="row g-1">
                <div class="col">
                  <a class="btn btn-success mb-1 w-100" title="{% trans "Day View" %}"
                      {% if theday %}
                     href="{% url "overview_day" theday %}"
                      {% else %}
                     href="{% url "overview_today" %}"
                      {% endif %}>
                    <i class="fa-solid fa-calendar-day me-1"></i>{% trans "Day (Detailed)" %}
                  </a>
                </div>
                <div class="col">
                  <a class="btn btn-success mb-1 w-100" title="{% trans "Day View" %}"
                      {% if theday %}
                     href="{% url "overview_day_shift_types" theday %}"
                      {% else %}
                     href="{% url "overview_today_shift_types" %}"
                      {% endif %}>
                    <i class="fa-solid fa-calendar-day me-1"></i>{% trans "Day (By&nbsp;Types)" %}
                  </a>
                </div>
              </div>
              {#                <a class="btn btn-secondary mb-1 disabled" title="{% trans "Week View" %}" href="{% url "overview_thisweek" %}">#}
              {#                  <i class="fa-solid fa-calendar-week me-2"></i>{% trans "Week" %}#}
              {#                </a>#}
              <a class="btn btn-success mb-1" title="{% trans "Month View" %}" href="{% url "overview_thismonth" %}">
                <i class="fa-solid fa-calendar-days me-1"></i>{% trans "Month" %}
              </a>
              <div class="row g-1">
                <div class="col">
                  <a class="btn btn-success mb-1 w-100" title="{% trans "List View" %}"
                     href="{% url "overview_list" %}">
                    <i class="fa-solid fa-list me-1"></i>{% trans "List (Detailed)" %}
                  </a>
                </div>
                <div class="col">
                  <a class="btn btn-success mb-1 w-100" title="{% trans "List View" %}"
                     href="{% url "overview_list_shift_types" %}">
                    <i class="fa-solid fa-list me-1"></i>{% trans "List (By&nbsp;Types)" %}
                  </a>
                </div>
              </div>
            </div>
            {% include "shifts/shift_url_filters.html" with expanded=True %}
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-9">
        {% block calendar %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}