{% extends "base.html" %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static "css/calendar.css" %}" />
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row g-3 mt-1">
      <div class="col-12 col-xl-3">
        <div class="card base-card bg-dark p-3">
          <div class="row">
            <div class="col-md-12 d-flex flex-column">
              <a class="btn btn-success mb-1" title="{% trans "Day View" %}" href="{% url "overview_today" %}">
                <i class="fa-solid fa-calendar-day me-2"></i>{% trans "Day" %}
              </a>
              {#                <a class="btn btn-secondary mb-1 disabled" title="{% trans "Week View" %}" href="{% url "overview_thisweek" %}">#}
              {#                  <i class="fa-solid fa-calendar-week me-2"></i>{% trans "Week" %}#}
              {#                </a>#}
              <a class="btn btn-success mb-1" title="{% trans "Month View" %}" href="{% url "overview_thismonth" %}">
                <i class="fa-solid fa-calendar-days"></i>{% trans "Month" %}
              </a>
            </div>
            <div class="col-4 col-md-12 mb-2">
              <h4>{% trans "Filters" %}:</h4>
              <a class="btn btn-secondary mb-2 {% active_param 'filter' 'all' %}" href="?filter=all">All Shifts</a>
              <a class="btn btn-secondary mb-2 {% active_param 'filter' 'own' %}" href="?filter=own">My Shifts</a>
              {% if feature.event %}
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle{% if not public_events %} disabled {% endif %}"
                          type="button" id="eventDropdownPublic"
                          data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Public Events" %}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="eventDropdownPublic">
                    {% for event in public_events %}
                      <li><a class="dropdown-item" href="?filter=event&event={{ event.pk }}">{{ event }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </div>
            <div class="col-8 col-md-12 col-xxl-8">
              <h5>{% trans "My Organizations" %}:</h5>
              <div class="d-flex flex-row flex-wrap">
                {% for org in request.user.organizations %}
                  <div class="mx-2 mb-3">
                    <a class="btn btn-secondary {% active_param 'organization' org.pk %}" href="?filter=organization&organization={{ org.pk }}">{{ org }}</a>
                    {% if org.future_events %}
                      <div class="dropdown mt-1">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="eventDropdownOrg{{ org.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                          {% trans "Events" %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="eventDropdownOrg{{ org.pk }}">
                          {% for event in org.future_events %}
                            <li><a class="dropdown-item" href="?filter=event&event={{ event.pk }}">{{ event }}</a></li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-9">
        {% block calendar %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}