{% extends "cal/calendar_base.html" %}
{% block calendar %}
  <div class="card bg-dark">
    <div class="card-header center-items justify-content-between">
      <div>
        <a class="link" href="{% url "overview_day" prevday.isoformat %}">
          <div><i class="fa-solid fa-angles-left"></i> {% trans 'Previous Day' context calendar %}</div>
        </a></div>
      <div class="center-items">
        <h3 class="m-0 me-4">{{ theday|date:'j. F Y' }}</h3>
        <a class="btn btn-success" href="{% url "overview_today" %}" title="{% trans "Jump to Today" %}">
          <i class="fa-solid fa-calendar-day"></i>
        </a>
      </div>
      <div>
        <a class="link" href="{% url "overview_day" nextday.isoformat %}">
          <div>{% trans 'Next Day' context calendar %} <i class="fa-solid fa-angles-right"></i></div>
        </a>
      </div>
    </div>
    <div class="p-2">
      {% include "cal/template/day_calendar_xxl.html" %}
      {% include "cal/template/day_calendar_xs.html" %}
    </div>
  </div>
{% endblock %}