{% extends "cal/calendar_card_base.html" %}
{% block calendar_card_header %}
  {% trans "Previous Day" context calendar as previous_day_label %}
  {% include "cal/day_nav_button.html" with href=prev_url query_string=request.GET.urlencode button_margin_class="me-1" icon_class="fa-solid fa-angles-left" label=previous_day_label label_margin_class="ms-1" icon_before=True %}
      <div class="center-items">
        <h3 class="m-0 me-4">{{ theday|date:'l j. F Y' }}</h3>
        {% trans "Jump to Date" as jump_to_date_title %}
        {% trans "Jump to Day" as jump_to_day_label %}
        {% trans "Select" as select_label %}
        {% include "cal/date_jump_dropdown.html" with title=jump_to_date_title prompt=jump_to_day_label button_label=select_label form_field=select_day_form.theday icon_class="fa-solid fa-calendar-day" %}
      </div>
      {% trans "Next Day" context calendar as next_day_label %}
      {% include "cal/day_nav_button.html" with href=next_url query_string=request.GET.urlencode button_margin_class="ms-1" icon_class="fa-solid fa-angles-right" label=next_day_label label_margin_class="me-1" icon_before=False %}
{% endblock %}

{% block calendar_card_body %}
  {% include day_calendar_template %}
{% endblock %}
