{% extends "template/modal_base.html" %}
{% block modal_id %}{{ modal_id }}{% endblock %}
{% block modal_aria_labelledby %}{{ modal_id }}ModalLabel{% endblock %}
{% block modal_outer_content %}
  <div class="modal-header">
    <h5 class="modal-title" id="{{ modal_id }}Label">
      {{ modal_title }}
    </h5>
    <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {{ nodelist }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
  </div>
{% endblock %}