<div class="modal fade" id="{{ form_id }}Modal" tabindex="-1" aria-labelledby="{{ form_id }}ModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark border-success border-2">
      <form id="{{ form_id }}Form" method="post" action="{{ form_url }}">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ form_id }}Label">
            {{ form_title }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ nodelist }}
        </div>
        <div class="modal-footer">
          {% if success_url %}
            <input name="success_url" class="d-none" type="text" value="{{ success_url }}">
          {% endif %}
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>