{% extends 'generic/dual_column.html' %}
{% block breadcrumbs %}
  {% include "template/breadcrumbs.html" %}
{% endblock %}
{% block left %}
  <div class="card bg-dark mt-3">
    <div class="card-header center-items justify-content-between">
      <h3 class="m-0 w-75">Shift Template {{ group.name }}</h3>
      {% if org_perms.edit_shift_templates %}
        <div>
          <a class="btn btn-danger" href="{% url "shift_template_group_delete" group.pk %}"
             title="{% trans "Delete Template" %}">
            <i class="fa-solid fa-trash"></i>
          </a>
          <a class="btn btn-success" href="{% url "shift_template_group_update" group.pk %}"
             title="{% trans "Edit Template" %}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a class="btn btn-success" href="{% url "template_group_update_shifts" group.pk %}"
             title="{% trans "Edit Shifts" %}">
            <i class="fa-solid fa-file-pen"></i>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="card-body">
      <dl class="detail-horizontal">
        <dt>{% trans "Organization" %}</dt>
        <dd><a class="link" href="{{ group.organization.get_absolute_url }}">{{ group.organization }}</a></dd>
        <dt>{% trans "Place" %}</dt>
        <dd>{{ group.place }}</dd>
        <dt>{% trans "Time" %}</dt>
        <dd>{{ group.start_time }}</dd>
        <dt>{% trans "Organization" %}</dt>
        <dd>{{ group.organization.name }}</dd>
      </dl>
    </div>
  </div>
  <div class="card bg-dark mt-3">
    <div class="card-header">
      <h5>{% trans "Recurring Shifts" %}</h5>
    </div>
    <div class="card-body">
      {% for rec_shift in group.recurring_shifts.all %}
        <a class="link" href="{{ rec_shift.get_absolute_url }}">{{ rec_shift }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block right %}
  <div class="card bg-dark mt-3">
    {% for shift_template in group.shifts.all %}
      {% if forloop.counter > 1 %}
        <hr class="my-1">
      {% endif %}
      {% include "shifts/template/template.html" with template=shift_template start_time=group.start_time %}
    {% empty %}
      <a class="btn btn-success" href="{% url "template_group_update_shifts" group.pk %}">
        <i class="fa-solid fa-plus"></i> {% trans "Create Shift Templates" %} <i class="fa-solid fa-plus"></i>
      </a>
    {% endfor %}
  </div>
{% endblock %}