<div class="card bg-dark mt-3">
  <div class="card-header center-items justify-content-between">
    <h3 class="m-0">Shift Template {{ group.name }}</h3>
    <div>
      <a class="btn btn-success" href="{% url "shift_template_group_update" group.pk %}"
         title="{% trans "Edit Shifts Template" %}">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a class="btn btn-success" href="{% url "template_group_update_shifts" group.pk %}"
         title="{% trans "Edit Shifts" %}">
        <i class="fa-solid fa-file-pen"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <dl class="detail-horizontal">
      <dt>{% trans "Place" %}</dt>
      <dd>{{ group.place }}</dd>
      <dt>{% trans "Time" %}</dt>
      <dd>{{ group.start_time }}</dd>
      <dt>{% trans "Organization" %}</dt>
      <dd>{{ group.organization.name }}</dd>
    </dl>
  </div>
  {% for shift_template in group.shifts.all %}
    <hr class="my-1">
    {% include "shifts/template/template.html" with template=shift_template start_time=group.start_time %}
  {% endfor %}
</div>