<table class="table table-dark table-fixed text-center m-0">
  <thead>
  <th>{% trans 'Member' %}</th>
  {% for type in groups %}
    <th>{{ type.name }}</th>
  {% endfor %}
  {% if has_other_types %}
    <th>{% trans 'Other' %}</th>
  {% endif %}
  </thead>
  <tbody>
  {% for member in members %}
    <tr>
      <td>{{ member.name }}</td>
      {% for group in member.groups %}
        <td>{{ group }}</td>
      {% endfor %}
      {% if has_other_types %}
        <td>{{ member.other }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>