<table class="table table-dark table-fixed table-hover text-center m-0">
  <thead>
  <th>{% trans 'Member' %}</th>
  {% for group in groups %}
    <th>{{ group.name }}</th>
  {% endfor %}
  {% if has_others %}
    <th>{{ organization.summary_settings.other_shifts_group_name }}</th>
  {% endif %}
  </thead>
  <tbody>
  {% for member in members %}
    <tr>
      <td>{{ member.name }}</td>
      {% for group in member.groups %}
        <td>{{ group }}</td>
      {% endfor %}
      {% if has_others %}
        <td>{{ member.other }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>