<div class="mb-2">
  {% url "shift" shift.pk as shift_url %}
  {% ifchanged shift.start|date %}
    <hr class="my-2">
    <div class="mx-3"><h5>{{ shift.start|date:'D d M Y' }}</h5></div>
  {% endifchanged %}
  <div class="mx-5 card bg-dark border border-1">
    <div class="card-header">
      <a class="link" href="{{ shift_url }}"><h5 class="m-0">{{ shift.detailed_display }}</h5></a>
    </div>
    <div class="p-2">
      <div class="mb-2">{% trans "Place" %}: {{ shift.place }}</div>
      <div class="mb-2">{% trans "Shift Participants" %}:</div>
      {% include "shifts/shift_participants.html" with shift=shift %}
    </div>
  </div>
</div>