<div class="d-flex justify-content-start flex-wrap">
  <form method="get" class="w-100" {% include 'generic/include_params.html' with params=form_params only %}>
    {{ shift_filter_form.media }}
    <div>
      <h4>{% trans "Filters" %}:</h4>
      {% if request.GET %}
        <a class="btn btn-danger" href="?">
          <i class="fa-solid fa-filter-circle-xmark"></i> {% trans "Reset Filter" %}
        </a>
      {% endif %}
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-filter"></i> {% trans "Apply Filter" %}
      </button>
    </div>
    <h5 class="mt-3">{% trans "Parameters" %}:</h5>
    <div class="mx-3 my-2">
      <div class="mb-2">
        {% bootstrap_field shift_filter_form.own_shifts_checkbox layout='inline' %}
      </div>
    {% if shift_filter_form.has_orgs %}
      <hr class="my-1">
      <div class="w-100 mb-3">
        <div class="filter-accordion accordion w-100" id="orgFilter">
          <div class="accordion-item">
            <h5 class="accordion-header rounded-top bg-secondary" id="orgFilterLabel">
              <button class="accordion-button px-1 py-2" type="button" data-bs-toggle="collapse"
                      data-bs-target="#orgFilters"
                      aria-expanded="true" aria-controls="collapseOne">
                {% trans "Select Organizations" %}:
              </button>
            </h5>
            <div id="orgFilters"
                 class="accordion-collapse collapse show border border-2 border-secondary rounded-0"
                 aria-labelledby="orgFilterLabel"
                 data-bs-parent="#orgFilter">
              <div class="accordion-body p-2">
                {% bootstrap_field shift_filter_form.select_org_field show_label=False wrapper_class='' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
      <hr class="my-1">
      <div>
        <div>
          <span>{% trans "Shift starts after" %}</span>
          {% bootstrap_field shift_filter_form.start_after_field wrapper_class="mb-1" show_label=False addon_after='<i class="fas fa-calendar"></i>' %}
          {% bootstrap_field shift_filter_form.start_after_time_field show_label=False addon_after='<i class="fas fa-clock"></i>' %}
        </div>
        <hr class="my-1">
        <span>{% trans "Shift ends before" %}</span>
        {% bootstrap_field shift_filter_form.end_before_field wrapper_class="mb-1" show_label=False addon_after='<i class="fas fa-calendar"></i>' %}
        {% bootstrap_field shift_filter_form.end_before_time_field show_label=False addon_after='<i class="fas fa-clock"></i>' %}
      </div>
      <hr class="mt-1 mb-3">
      {% if feature.events and shift_filter_form.has_events %}
        <div class="w-100 mb-3">
          <div class="filter-accordion accordion w-100" id="eventFilter">
            <div class="accordion-item">
              <h5 class="accordion-header rounded-top bg-secondary" id="eventFilterLabel">
                <button class="accordion-button px-1 py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#orgFilters"
                        aria-expanded="true" aria-controls="collapseOne">
                  {% trans "Select Events" %}:
                </button>
              </h5>
              <div id="orgFilters"
                   class="accordion-collapse collapse show border border-2 border-secondary rounded-0"
                   aria-labelledby="eventFilterLabel"
                   data-bs-parent="#eventFilter">
                <div class="accordion-body p-2">
                  {% bootstrap_field shift_filter_form.select_event_field show_label=False wrapper_class='' %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </form>
</div>