{% bootstrap_field form.name %}
{% bootstrap_field form.place %}
<div class="center-items">
  <div class="col-6 me-1">
    {% bootstrap_field form.organization field_class="d-none" %}
  </div>
  <div class="col-6 ms-1">
    {% bootstrap_field form.shift_type %}
  </div>
</div>
{% if feature.event %}
  {% bootstrap_field form.event %}
{% endif %}
<div class="center-items row">
  <div class="col-sm-5 center-items flex-column flex-wrap pe-help"
       title="{% trans "Shift starting time" %}">
    {% trans "Start Time" context "Shift time" %}{% bootstrap_field form.start show_label=False %}
  </div>
  <div class="col-sm-2">-</div>
  <div class="col-sm-5 center-items flex-column flex-wrap pe-help"
       title="{% trans "Shift end time" %}">
    {% trans "End Time" context "Shift time" %}{% bootstrap_field form.end show_label=False %}
  </div>
</div>
<div class="text-center"><h4>{% trans "Participants" %}</h4></div>
<div class="center-items">
  <div class="col-5 text-center shift-required pe-help"
       title="{% trans "Required number of users to fill this shift" %}">
    {% trans "Required" context "Shift users" %}{% bootstrap_field form.required_users show_label=False %}
  </div>
  <div class="col-1">/</div>
  <div class="col-5 text-center text-danger pe-help"
       title="{% trans "Maximum number of users allowed in this shift" %}">
    {% trans "Maximum" context "Shift users" %}{% bootstrap_field form.max_users show_label=False %}
  </div>
</div>
{% bootstrap_field form.additional_infos %}