<div class="p-2">
  <div>
    <div class="d-flex align-items-center flex-wrap justify-content-between">
      <h4 class="m-0 mw-100">{{ shift.name }}</h4>
      <a class="btn btn-outline-info" href="{{ shift.get_absolute_url }}"> {% trans "Go to Shift" %}</a>
    </div>
    <dl class="detail-horizontal">
      <dt>{% trans "Type" %}</dt>
      <dd>{{ shift.shift_type }}</dd>
      <dt>{% trans "Time" %}</dt>
      <dd>{{ shift.time_display }}</dd>
      <dt>{% trans "Participants" %}</dt>
      <dd>{{ shift.participants|length }}/{{ shift.required_users }} {% trans "Users" %}</dd>
    </dl>
  </div>
  <div class="d-flex flex-wrap">
    {% for participant in shift.participants.all %}
      <div class="ms-3">{{ participant.user }}</div>
    {% endfor %}
  </div>
</div>