<div class="d-flex table-responsive">
  <table class="table table-dark table-striped table-bordered table-hover border-secondary table-fixed text-wrap">
    <thead>
    <tr class="text-center">
      <th class="d-none d-md-table-cell">{% trans "Organization" %}</th>
      <th class="d-md-none">{% trans "Org" %}</th>
      <th colspan="3">{% trans "Shift" %}</th>
      <th colspan="4">{% trans "Participants" %}</th>
      <th class="d-none d-md-table-cell">{% trans "Start" %}</th>
      <th class="d-none d-md-table-cell">{% trans "End" %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      {% for shift in shifts %}
        <td>
          {{ shift.organization }}
        </td>
        <td colspan="3" class="shift-type"
            {% if shift.shift_type.color %}style="--shift-bg-color: {{ shift.shift_type.color }}; --shift-color: {{ shift.shift_type.text_color }}"{% endif %}>
          <div class="center-items flex-wrap overflow-auto" title="{{ shift.detailed_display }}">
            <a class="link" href="{{ shift.get_absolute_url }}">
              {{ shift.detailed_display }}
            </a>
          </div>
        </td>
        <td colspan="4">
          <div class="center-items flex-wrap">
            {% for display,required in shift.get_slots_display %}
              {% include 'shifts/template/slots_display.html' with shift=shift organization=shift.organization current_date=today %}
            {% endfor %}
          </div>
        </td>
        <td class="d-none d-md-table-cell text-center">
          {% if shift.start.date != theday %}
            <a class="link" href="{% url "overview_day" theday=shift.start.date.isoformat %}">
              {{ shift.start }}
            </a>
          {% else %}
            {{ shift.start.time }}
          {% endif %}
        </td>
        <td class="d-none d-md-table-cell text-center">
          {% if shift.end.date != theday %}
            <a class="link" href="{% url "overview_day" shift.end.date.isoformat %}">
              {{ shift.end }}
            </a>
          {% else %}
            {{ shift.end.time }}
          {% endif %}
        </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="10" class="text-center text-warning fw-bolder">
            <h3>{% trans "No Shifts on this day" %}</h3>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="10" class="p-0 pt-3 text-center">
        {% if request.user.organizations|length > 1 %}
          <div class="calendar-entry">
            <button class="btn btn-success w-100 rounded-0" data-bs-toggle="modal" data-bs-target="#selectShiftOrgModal"
                    data-bs-date="{{ date|date:"%Y-%m-%d" }}">
              {% trans 'Create Shift' %} <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        {% elif request.user.organizations|length == 1 %}
          <a class="btn btn-success w-100 rounded-0"
             href="{% url "shift_create" user.organizations.0.pk %}?date={{ theday|date:"Y-m-d" }}">
            {% trans 'Add Shift' %} <i class="fa-solid fa-plus"></i>
          </a>
        {% endif %}
      </td>
    </tr>
    </tfoot>
  </table>
</div>