<div class="card bg-dark p-2 calendar-month">
  <div class="month-head">
    <div class="calendar-nav">
      <div>
        <a class="link" href="{{ last_url }}">
          &laquo; {% trans 'Previous Month' %}
        </a>
      </div>
      <div>
        <h3>{{ month|date:"F Y" }}</h3>
      </div>
      <div>
        <a class="link" href="{{ next_url }}">
          <div>{% trans 'Next Month' %} &raquo;</div>
        </a>
      </div>
    </div>
  </div>
  <div class=week-head>
    {% for day_name in weekday_names %}
      <div class="day">
        {% trans day_name %}
      </div>
    {% endfor %}
  </div>
  {% for week in weeks %}
    <div class="week">
      {% for day in week %}
        <div class="{{ day.class }} {{ day.today }}">
          <div class="day-name">
            <a class="link" href="{% url "overview_day" day.date %}" title="{{ day.date|date }}">{{ day.name }}</a>
          </div>
          <div class="calendar-entry-wrapper">
            {% for entry in day.entries %}
              {{ entry }}
            {% endfor %}
          {% if day.class != 'noday' %}
            {% include "cal/calendar_templates/cal_shift_create_entry.html" with date=day.date|date:'Y-m-d' %}
          {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>