{% extends 'base.html' %}
{% block scripts %}
  <script type="text/javascript" src="{% static "js/formset.js" %}"></script>
  <script type="text/javascript" src="{% static 'js/time_slider.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/link_sliders.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
  {% include "template/breadcrumbs.html" %}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    {% if formset.errors.entries|length %}
      <div class="alert alert-error m-3 center-items justify-content-start">
        {{ form.errors.entries }}
      </div>
    {% endif %}
    <form method="post" {% include 'generic/include_params.html' with params=form_params only %}>
      <div class="center-items flex-wrap my-2">
        <h3 class="m-0">
          <a class="link" href="{% url "shift_template_group" group.pk %}">
            {% trans "Edit Templates for" %} {{ group }}
          </a>
        </h3>
        <div class="my-2 my-lg-0">
          <a id="formset_add" class="btn btn-primary ms-3">
            <i class="fas fa-plus" title="{% trans 'Add Shift' %}"></i>
          </a>
          <a class="btn btn-secondary ms-1" href="{% url "shift_template_group" group.pk %}">
            {% trans "Cancel" %}
          </a>
          {% bootstrap_button _('Save') button_type="submit" button_class="btn-primary ms-1" %}
        </div>
      </div>
      {% csrf_token %}
      {{ formset.management_form }}
      <div id="formset_insert" class="row g-2 justify-content-center">
        {% for form in formset %}
          {% include "shifts/template/template_form.html" %}
        {% endfor %}
        <template id="formset_template">
          {% include "shifts/template/template_form.html" with form=formset.empty_form new=True %}
        </template>
      </div>
    </form>
  </div>
{% endblock %}