{% extends 'base.html' %}
{% block scripts %}
  <script type="text/javascript" src="{% static "js/formset.js" %}"></script>
{% endblock %}
{% block breadcrumbs %}
  {% include "template/breadcrumbs.html" %}
{% endblock %}
{% block content %}
  <div class="container">
    {% if formset.non_form_errors|length %}
      <div class="alert alert-error m-3 center-items justify-content-start">
        {% bootstrap_formset_errors formset %}
      </div>
    {% endif %}
    {% if formset|length == 0 %}
      <div class="alert alert-info" id="empty_alert">
        {% blocktrans with object=object.display %}
          No specific permissions for "{{ object }}" yet add them with "+"
        {% endblocktrans %}
      </div>
    {% endif %}
    <form method="post" {% include 'generic/include_params.html' with params=form_params only %}>
      <div class="center-items flex-wrap my-2">
        <h3 class="m-0">
          <a class="link" href="{{ object.get_absolute_url }}">
            {% trans "Edit Shift Permissions for" %} {{ object.display }}
          </a>
        </h3>
        <div class="my-2 my-lg-0">
          <a id="formset_add" class="btn btn-primary ms-3">
            <i class="fas fa-plus" title="{% trans 'Add Shift' %}"></i>
          </a>
          <a class="btn btn-secondary ms-1" href="{{ object.get_absolute_url }}">
            {% trans "Back" %}
          </a>
          {% bootstrap_button _('Save') button_type="submit" button_class="btn-primary ms-1" %}
          <button class="btn btn-outline-secondary ms-auto" data-bs-toggle="popover" type="button"
                  data-bs-title="{% trans "How does it work?" %}"
                  data-bs-custom-class="permission-info-popover"
                  data-bs-trigger="focus" data-bs-placement="bottom" data-bs-html="true"
                  data-bs-content="{{ instructions }}">
            <i class="fas fa-circle-info"></i>
          </button>
        </div>
      </div>
      {% csrf_token %}
      {{ formset.management_form }}
      <div id="formset_insert" class="row g-2 justify-content-center">
        {% if inherited_permissions %}
          <div class="col-8">
            <div class="card bg-dark base-card border border-2 border-info">
              <div class="card-header">
                <h5>{% trans "Inherited Permissions" %}:</h5>
              </div>
              <div class="card-body">
                {% for permission in inherited_permissions %}
                  <div>
                    {% ifchanged permission.referred_content_type.name %}
                      <div>{{ permission.referred_content_type.name.title }} {{ permission.referred_object.name.title }}:</div>
                    {% endifchanged %}
                    <div class="ms-3">
                      {% if permission.organization %}
                        {{ permission.organization.display.title }}:
                      {% else %}
                        {% trans "All Users" %}:
                      {% endif %}
                      {{ permission.permission_type.label }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        {% for form in formset %}
          {% include "shifts/template/participation_permission_form.html" %}
        {% endfor %}
        <template id="formset_template">
          {% include "shifts/template/participation_permission_form.html" with form=formset.empty_form new=True %}
        </template>
      </div>
    </form>
  </div>
{% endblock %}