{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid container-lg d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card base-card bg-dark mt-3">
        <div class="card-header center-items justify-content-between">
          <h3 class="m-0">
            {{ shift.name }}
          </h3>
          <div>
            <a class="btn btn-success px-2 py-1" href="{% url 'shift_update' shift.pk %}"
               title="{% trans "Edit Shift" %}">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <dl class="detail-horizontal">
                <dt>{% trans "Shift Type" %}</dt>
                <dd>{{ shift.shift_type.name }}</dd>
                <dt>{% trans "Place" %}</dt>
                <dd>{{ shift.place }}</dd>
                <dt>{% trans "Start Time" %}</dt>
                <dd>{{ shift.start }}</dd>
                <dt>{% trans "End Time" %}</dt>
                <dd>{{ shift.end }}</dd>
                <dt>{% trans "Organization" %}</dt>
                <dd>{{ shift.organization.name }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <div>{% trans "Open Slots" %}:</div>
              <div class="mx-3">
                {% for user in shift.users.all %}
                  <span class="link">{{ user }}</span>
                {% endfor %}
                {% if shift.users.all|length < shift.max_users %}
                  <a class="link" href="do sth"><i class="fa-solid fa-person-circle-plus me-2"></i>{% trans "Add me" %}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}