{% extends 'base.html' %}
{% block breadcrumbs %}
  {% include "template/breadcrumbs.html" %}
{% endblock %}
{% block content %}
  <div class="container-fluid container-lg d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card base-card bg-dark mt-3">
        <div class="card-header center-items justify-content-between">
          <h3 class="m-0 w-75">
            {{ shift.name }}
          </h3>
          <div>
            {% if not shift.shift_type.is_system or perms.organizations.admin %}
              {% url 'shift_update' shift.pk as shift_update_url %}
              {% trans "Edit Shift" as edit_shift_title %}
              {% include "template/icon_action_button.html" with button_class="btn btn-success px-2 py-1" href=shift_update_url title=edit_shift_title icon_class="fa-solid fa-pen-to-square" %}
              {% now "Y-m-d" as today %}
              {% if org_perms.admin or shift.start|date:"Y-m-d" >= today and org_perms.delete_shifts %}
                {% url 'shift_delete' shift.pk as shift_delete_url %}
                {% trans "Delete Shift" as delete_shift_title %}
                {% include "template/icon_action_button.html" with button_class="btn btn-danger px-2 py-1" href=shift_delete_url title=delete_shift_title icon_class="fa-solid fa-trash" %}
              {% endif %}
              {% if org_perms.admin %}
                {% url 'shift_part_permissions_edit' shift.pk as shift_part_permissions_edit_url %}
                {% trans "Edit Permissions" as edit_permissions_title %}
                {% include "template/icon_action_button.html" with button_class="btn btn-info px-2 py-1" href=shift_part_permissions_edit_url title=edit_permissions_title icon_class="fa-solid fa-shield-halved" %}
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-5">
              <dl class="detail-horizontal">
                <dt>{% trans "Shift Type" %}</dt>
                <dd>{{ shift.shift_type.name }}</dd>
                <dt>{% trans "Place" %}</dt>
                <dd>{{ shift.place }}</dd>
                <dt>{% trans "Start Time" %}</dt>
                <dd>{{ shift.start }}</dd>
                <dt>{% trans "End Time" %}</dt>
                <dd>{{ shift.end }}</dd>
                <dt>{% trans "Organization" %}</dt>
                <dd>
                  <a class="link" href="{{ shift.organization.get_absolute_url }}">
                    {{ shift.organization.name }}
                  </a>
                </dd>
                <dt>{% trans "Created" %}</dt>
                <dd>{{ shift.created }}</dd>
                <dt>{% trans "Last Modified" %}</dt>
                <dd>
                  {% blocktrans with time=shift.modified|timesince %}
                    {{ time }} ago
                  {% endblocktrans %}
                </dd>
              </dl>
            </div>
            {% if can_see_participants %}
              <div class="col-12 col-md-7">
                <div>
                  {% trans "Shift Participants" %}:
                  {% if not shift.is_full %}
                    {% if org_perms.add_non_members_to_shifts or org_perms.add_members_to_shifts %}
                      {% if shift.start.date >= current_date or org_perms.add_to_past_shift %}
                        {% url 'add_participant_other' shift.pk as add_participant_url %}
                        {% trans "Add participant" as add_participant_title %}
                        {% include "template/icon_action_button.html" with button_class="btn btn-outline-success ms-3" href=add_participant_url title=add_participant_title icon_class="fa-solid fa-person-circle-plus me-2" label=add_participant_title %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
                {% include "shifts/shift_participants.html" with shift=shift %}
                <div class="mt-3">
                  {% trans "Additional Infos" %}:
                  <div class="px-3 shift-info overflow-auto">
                    {% if shift.additional_infos %}
                      {{ shift.additional_infos|linebreaks }}
                    {% else %}
                      {% trans "Nothing to consider." %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
