{% extends 'base.html' %}

{% block top_level %}
  {% url 'add_participant_self' shift.pk as add_self_url %}
  {% simpleformmodal 'addSelfForm'|concat:shift.pk _('Add with Name to Shift') add_self_url request.path %}
    {% for field in add_self_form %}
      {% csrf_token %}
      {% bootstrap_field field %}
    {% endfor %}
  {% endsimpleformmodal %}
  {% include "template/remove_modal.html" %}
{% endblock %}

{% block content %}
  <div class="container-fluid container-lg d-flex justify-content-center">
    <div class="col-12 col-md-8">
      <div class="card base-card bg-dark mt-3">
        <div class="card-header center-items justify-content-between">
          <h3 class="m-0">
            {{ shift.name }}
          </h3>
          <div>
            <a class="btn btn-success px-2 py-1" href="{% url 'shift_update' shift.pk %}"
               title="{% trans "Edit Shift" %}">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% now "Y-m-d" as today %}
            {% if shift.start|date:"Y-m-d" >= today %}
              <a class="btn btn-danger px-2 py-1" href="{% url 'shift_delete' shift.pk %}"
                 title="{% trans "Edit Shift" %}">
                <i class="fa-solid fa-trash"></i>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-5">
              <dl class="detail-horizontal">
                <dt>{% trans "Shift Type" %}</dt>
                <dd>{{ shift.shift_type.name }}</dd>
                <dt>{% trans "Place" %}</dt>
                <dd>{{ shift.place }}</dd>
                <dt>{% trans "Start Time" %}</dt>
                <dd>{{ shift.start }}</dd>
                <dt>{% trans "End Time" %}</dt>
                <dd>{{ shift.end }}</dd>
                <dt>{% trans "Organization" %}</dt>
                <dd>
                  <a class="link" href="{{ shift.organization.get_absolute_url }}">
                    {{ shift.organization.name }}
                  </a>
                </dd>
                <dt>{% trans "Created" %}</dt>
                <dd>{{ shift.created }}</dd>
                <dt>{% trans "Last Modified" %}</dt>
                <dd>
                  {% blocktrans with time=shift.modified|timesince %}
                    {{ time }} ago
                  {% endblocktrans %}
                </dd>
              </dl>
            </div>
            <div class="col-12 col-md-7">
              <div>
                {% trans "Shift Participants" %}:
                {% if not shift.is_full %}
                  {% if org_perms.add_non_members_to_shifts or org_perms.add_members_to_shifts %}
                    {% if org_perms.admin or shift.start.date >= current_date %}
                      <a class="btn btn-outline-success ms-3" href="{% url 'add_participant_other' shift.pk %}">
                        <i class="fa-solid fa-person-circle-plus me-2"></i>{% trans "Add participant" %}
                      </a>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
              {% include "shifts/shift_participants.html" with shift=shift %}
              <div class="mt-3">
                {% trans "Additional Infos" %}:
                <div class="px-3">
                  {% if shift.additional_infos %}
                    {{ shift.additional_infos|linebreaks }}
                  {% else %}
                    {% trans "Nothing to consider." %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}