<div class="mx-3 mt-2 shift-slots shift-info overflow-auto">
  {% include "template/remove_modal.html" %}
  {% for display,required in shift.get_slots_display %}
    {% include 'shifts/template/slots_display.html' %}
  {% endfor %}
  {% if shift.start.date >= current_date and shift.max_users == 0 %}
    <div class="d-flex">
      <button type="button" class="btn border border-2 card-link link w-100 mx-2" data-bs-toggle="modal"
              data-bs-target="#addSelfForm{{ shift.pk }}Modal">
        <i class="fa-solid fa-person-circle-plus me-2"></i>{% trans 'Add me' %}
      </button>
    </div>
  {% endif %}
</div>