<div class="mx-3 mt-2 shift-slots shift-info overflow-auto">
  {% include "template/remove_modal.html" %}
  {% url 'add_participant_self' shift.pk as add_self_url %}
  {% simpleformmodal 'addSelfForm'|concat:shift.pk _('Add with Name to Shift') add_self_url request.path %}
    {% csrf_token %}
    {% for field in add_self_form %}
      {% bootstrap_field field %}
    {% endfor %}
    {% if shift.start.date < current_date %}
      <div class="text-warning small">
        {% trans 'This shift is over, do you really want/need to add yourself as participant?' %}
      </div>
    {% endif %}
  {% endsimpleformmodal %}
  {% for display,required in shift.get_slots_display %}
    {% include 'shifts/template/slots_display.html' %}
  {% endfor %}
  {% if shift.max_users == 0 %}
    {% if shift.start.date >= current_date or org_perms.add_to_past_shift %}
      <div class="d-flex">
        <button type="button" class="btn border border-2 card-link link w-100 mx-2" data-bs-toggle="modal"
                data-bs-target="#addSelfForm{{ shift.pk }}Modal">
          <i class="fa-solid fa-person-circle-plus me-2"></i>{% trans 'Add me' %}
        </button>
      </div>
    {% endif %}
  {% endif %}
</div>