{% extends 'generic/fluid_split_title_card.html' %}

{% block left_card_title %}
  {% if full %}
    <h3>{% trans "All Organizations" %}</h3>
  {% else %}
    <h3>{% trans "My Organizations" %}</h3>
  {% endif %}
{% endblock %}

{% block right_card_title %}
  {% include 'generic/modular_search.html' with placeholder=_('Enter Name') %}
  <a class="btn btn-success m-2" href="{% url 'organization_create' %}">
    <i class="fas fa-person-circle-plus"></i> {% trans 'Add new Organization' %}
  </a>
{% endblock %}

{% block card_body %}
  <div class="content-container">
    {% for organization in organizations %}
      {% include "organizations/template/organization.html" with organization=organization %}
    {% empty %}
      <div class="organization-container">
        <div class="card bg-dark border border-3 organization-content d-flex align-items-center justify-content-center">
          <h3 class="text-center">{% trans "No Organizations found." %}</h3>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" %}
{% endblock %}