{% extends 'generic/dual_column.html' %}

{% block top_level %}
  {% include "template/remove_modal.html" with remove_target_from=organization.name %}
{% endblock %}
{% block left %}
  <div class="sticky-top">
    {% include "organizations/template/org_info.html" %}
  </div>
{% endblock %}

{% block right %}
  <div class="card bg-dark mt-3">
    <div class="card-body">
      <form method="post" action="{% url 'edit_summary_settings' organization.summary_settings.pk %}">
        {% csrf_token %}
        {% bootstrap_form summary_settings_form %}
        <button class="btn btn-success">
          {% trans "Save" %}
        </button>
      </form>
    </div>
  </div>
  <div class="card bg-dark mt-3">
    <div class="card-header center-items justify-content-between">
      <h4>{% trans "Shift Type Groups" %}</h4>
      <div>
        <a class="btn btn-success" href="{% url "shift_type_group_create" organization.pk %}"
           title="{% trans "Create Type Group" %}">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="card-body center-items">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>{% trans "Order" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Types" %}</th>
          <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for type_group in organization.shift_type_groups.all %}
          <tr>
            <td>{{ type_group.order }}</td>
            <td>{{ type_group.name }}</td>
            <td>
              <div>
                {% for shift_type in type_group.shift_types.all %}
                  <div class="badge"
                       style="background-color: {{ shift_type.color }}; color: {{ shift_type.text_color }}">
                    {{ shift_type }}
                  </div>
                {% endfor %}
              </div>
            </td>
            <td class="center-items">
              <a class="btn btn-primary" href="{% url "shift_type_group_update" type_group.pk %}"
                 title="{% trans "Edit Type Group" %}">
                <i class="fas fa-pencil-square"></i>
              </a>
              <a class="btn btn-danger ms-1" data-bs-toggle="modal" href="#confirmRemoveModal"
                 role="button" data-bs-remove-name="{{ type_group.name }}"
                 data-bs-remove-url="{% url 'shift_type_group_remove' type_group.pk %}">
                <i class="fas fa-trash"></i>
              </a>
              {% if not forloop.first %}
                <form class="ms-2" action="{% url 'shift_type_group_move_up' type_group.pk %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary" title="{% trans 'Move Up' %}">
                    <i class="fas fa-caret-up"></i>
                  </button>
                </form>
                {% else %}
                <button type="button" class="btn btn-secondary ms-2 disabled" title="{% trans 'Move Up' %}">
                  <i class="fas fa-caret-up"></i>
                </button>
              {% endif %}
              {% if not forloop.last %}
                <form class="ms-1" action="{% url 'shift_type_group_move_down' type_group.pk %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary" title="{% trans 'Move Down' %}">
                    <i class="fas fa-caret-down"></i>
                  </button>
                </form>
              {% else %}
                <button type="button" class="btn btn-secondary ms-1 disabled" title="{% trans 'Move Down' %}">
                  <i class="fas fa-caret-down"></i>
                </button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}