{% extends 'generic/dual_column.html' %}
{% load shifts %}

{% block left %}
  {% url 'organization_admin' organization.pk as admin_url %}
  {% include "organizations/template/org_info.html" with settings_url=admin_url %}
  {% if org_perms.see_statistics %}
    <div class="mt-3 card base-card bg-dark">
      <div class="card-header center-items justify-content-between">
        <h3>{% trans "Member Shift Summary" %} ({{ organization.summary_settings.default_time_range.display }})</h3>
        <div class="center-items">
          <a class="btn btn-info w-100 ms-1" href="{% url 'organization_shift_summary' organization.pk %}">
            <i title="{% trans "Full Summary" %}" class="fas fa-ranking-star me-2"></i>
          </a>
        </div>
      </div>
      <div class="p-1">
        {% member_shift_summary organization False False %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block right %}
  <div class="row my-3">
    <div class="col-xxl-6 mt-2 mt-xxl-0 mb-2 mb-xxl-0">
      <div class="card bg-dark h-100">
        <div class="d-flex justify-content-between">
          <div class="mx-auto pt-2">
            {% trans "Month Overview" %}
          </div>
          <div class="p-1">
            <a class="btn btn-success" title="{% trans "Complete Overview" %}" href="{% url "overview_thismonth" %}">
              <i class="fas fa-calendar-week"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive">
          {% month_overview_calendar organization request.GET %}
        </div>
      </div>
    </div>
    {% if feature.event %}
      <div class="col-xxl-6 mb-3 mb-md-0">
        <div class="card bg-dark h-100">
          <div class="card-header center-items justify-content-between">
            <div>
              {% trans "Upcoming Event" %}
            </div>
            <div>
              <a class="btn btn-secondary" href="{% url "events" %}?search_param={{ organization.name }}"
                 title="{% trans "Expired Events" %}">
                <i class="fa-solid fa-hourglass-end"></i>
              </a>
              {% if org_perms.edit_events %}
                <a class="btn btn-success ms-2" href="{% url 'event_create' organization.pk %}"
                   title="{% trans "Add Event" %}">
                  <i class="fa-solid fa-beer-mug-empty"></i>
                  <i class="fa-solid fa-plus"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="p-2">
            {% if organization.next_event %}
              <div>
                <div class="d-flex align-items-center flex-wrap justify-content-between">
                  <h4 class="m-0">{% trans "Event" %}: {{ organization.next_event }}</h4>
                  <a class="btn btn-outline-info"
                     href="{{ organization.next_event.get_absolute_url }}">{% trans "Go to Event" %}</a>
                </div>
                <hr class="my-1">
                <div class="px-2">
                  <table class="mb-3">
                    <tr>
                      {% blocktrans with start_date=organization.next_event.start_date end_date=organization.next_event.end_date %}
                        <th>Event Period:</th>
                        <td class="ps-3">{{ start_date }} to {{ end_date }}</td>
                      {% endblocktrans %}
                    </tr>
                    {% if organization.next_event.website %}
                      <tr>
                        <th>{% trans "Website" %}:</th>
                        <td class="ps-3">
                          <a class="link" href="{{ organization.next_event.website }}">
                            {{ organization.next_event.website }}
                          </a>
                        </td>
                      </tr>
                    {% endif %}
                  </table>
                  {% include "events/template/event_stats.html" with event=organization.next_event %}
                </div>
              </div>
            {% else %}
              <div><h2>{% trans "No Events planned" %}</h2></div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="col-xxl-6 mb-3 mb-md-0">
        <div class="card bg-dark h-100 center-items">
          <h1>{% trans "Events disabled" %}</h1>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="card base-card bg-dark mt-3">
    <div class="card-header center-items justify-content-between">
      <h5 class="m-0">{% trans "Shifts" %}</h5>
      <div>
        <a class="btn btn-success" href="{% url 'organization_calendar' organization.pk %}"
           title="{% trans "ical Export" %}">
          <i class="fas fa-file-export"></i>
        </a>
        {% if org_perms.edit_shifts %}
          <a class="btn btn-success" href="{% url "shift_create_from_template" organization.pk %}"
             title="{% trans "Create Shift from Template" %}">
            <i class="fa-solid fa-sim-card"></i>
          </a>
          <a class="btn btn-success" href="{% url "shift_create" organization.pk %}" title="{% trans "Create Shift" %}">
            <i class="fa-solid fa-calendar-plus"></i>
          </a>
        {% endif %}
      </div>
    </div>
    <div>
      {% if shifts.object_list|length > 0 %}
        <div>
          {% for shift in shifts.object_list %}
            {% shift_card shift %}
          {% endfor %}
        </div>
      {% else %}
        <div class="center-items p-3">
          <h4>{% trans "No upcoming shifts" %}</h4>
        </div>
      {% endif %}
      {% if shifts.is_paginated %}
        <div class="d-flex justify-content-center bg-dark">
          {% bootstrap_pagination shifts.page_obj parameter_name=shifts.page_name %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}