{% extends 'generic/dual_column.html' %}

{% block top_level %}
  {% include "template/remove_modal.html" with remove_target_from=organization.name %}
{% endblock %}

{% block left %}
  <div class="base-card card bg-dark my-3">
    <div class="card-header center-items justify-content-between">
      <h3 class="m-0">
        {{ organization.name }}
      </h3>
      <div>
        <a class="btn btn-success" href="{% url 'organization_update' organization.pk %}"
           title="{% trans "Edit Organization" %}">
          <i class="fas fa-edit"></i>
        </a>
      </div>
    </div>
    <div class="card-body">
      {% if organization.logo %}
        <div class="organization-detail-logo">
          <img src="{{ organization.logo.url }}" alt="{% trans 'Logo' %}" />
        </div>
      {% endif %}
      <dl class="detail-horizontal">
        <dt>Email</dt>
        <dd>{{ organization.email }}</dd>
        <dt>Telephone</dt>
        <dd>{{ organization.telephone_number }}</dd>
        <dt>Website</dt>
        <dd>{{ organization.website }}</dd>
        <dt>Description</dt>
        <dd class="organization-description">{{ organization.description|default:'None'|linebreaks }}</dd>
      </dl>
    </div>
  </div>
  <div class="card base-card bg-dark mb-3 p-2">
    <a class="btn btn-info mx-2 mt-2" href="{% url 'organization_shift_summary' organization.pk %}">
      <i class="fas fa-ranking-star me-2"></i>{% trans "Member Shift Summary" %}
    </a>
    <div class="p-2">
      <div class="row">
        <div class="col-md-4">
          <div class="center-items justify-content-between p-1">
            {% trans "Members" %}
            <button type="button" class="btn btn-success py-1 px-2 my-1" data-bs-toggle="modal"
                    data-bs-target="#memberFormModal">
              <i class="fas fa-user-plus pe-none"></i>
            </button>
            {% url 'membership_add_member' organization.pk as add_member_url %}
            {% simpleformmodal 'memberForm' _('Add member') add_member_url %}
              {% for field in member_form %}
                {% csrf_token %}
                {% bootstrap_field field %}
              {% endfor %}
            {% endsimpleformmodal %}
          </div>
          <table class="table table-dark table-striped text-center m-0">
            <tbody>
            {% for member in organization.members.all %}
              {% if member.group is None %}
                {% include 'organizations/template/member.html' %}
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
          {% for member in organization.members.all %}
            {% if member.user is None %}
              {% include 'organizations/template/member_group.html' with member_group=member.group %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block right %}
  <div class="row my-3">
    <div class="col-xxl-6 mb-3 mb-md-0">
      <div class="card bg-dark p-2 h-100">
        {% trans "Next Shift" %}:
        {% if organization.next_shift %}
          {% include 'shifts/template/shift.html' with shift=organization.next_shift %}
        {% else %}
          <div>{% trans "No Shifts planned" %}</div>
        {% endif %}
      </div>
    </div>
    <div class="col-xxl-6 mt-2 mt-xxl-0">
      <div class="card bg-dark h-100">
        <div class="d-flex justify-content-between">
          <div class="mx-auto pt-2">
            {% trans "Month Overview" %}
          </div>
          <div>
            <a class="btn btn-success" title="{% trans "Complete Overview" %}">
              <i class="fas fa-calendar-week"></i>
            </a>
          </div>
        </div>
        <div class="card-body table-responsive">
          {% month_overview_calendar organization request.GET %}
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-dark mb-3">
    <div class="card-header center-items justify-content-between">
      <div>
        {% trans "Recurring Shifts" %}
      </div>
      <div>
        <a class="btn btn-success" href="{% url 'recurring_shift_create' %}?org={{ organization.pk }}"
           title="{% trans "Add recurring shift" %}">
          <i class="fa-solid  fa-square-plus"></i>
        </a>
      </div>
    </div>
    <div class="table-responsive p-1">
      {% if organization.recurringshifts.all|length > 0 %}
        <table class="table table-striped table-dark m-0 text-center">
          <thead>
          <tr>
            <th>{% trans "Display" %}</th>
            <th>{% trans "Type" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Duration" %}</th>
            <th>{% trans "Place" %}</th>
            <th>{% trans "Required/Max" %}</th>
          </tr>
          </thead>
          <tbody>
          {% for recurring_shift in organization.recurringshifts.all %}
            <tr class="link pe-pointer" onclick="window.location.href='{% url 'recurring_shift' recurring_shift.pk %}'">
              <td>{{ recurring_shift.display }}</td>
              <td>{{ recurring_shift.shift_group }}</td>
              <td>{{ recurring_shift.time }}</td>
              <td>{{ recurring_shift.duration }}</td>
              <td>{{ recurring_shift.place }}</td>
              <td>{{ recurring_shift.required_users }}/{{ recurring_shift.max_users }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="center-items p-3">{% trans "No recurring shifts" %}</div>
      {% endif %}
    </div>
  </div>
  <div class="card bg-dark mb-3 ">
    <div class="card-header center-items justify-content-between">
      <div>
        {% trans "Upcoming Events" %}
      </div>
      <div>
        <a class="btn btn-secondary" href="{% url "events" %}?search_param={{ organization.name }}"
           title="{% trans "Expired Events" %}">
          <i class="fa-solid fa-hourglass-end"></i>
        </a>
        <a class="btn btn-success ms-2" href="{% url 'event_create' %}?org={{ organization.pk }}"
           title="{% trans "Add Event" %}">
          <i class="fa-solid fa-beer-mug-empty"></i>
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
    </div>
    <div class="p-1">
      {% if organization.future_events|length > 0 %}
        <table class="table table-striped table-dark m-0">
          <thead>
          <tr>
            <th>Name</th>
            <th>From</th>
            <th>To</th>
            <th>Visibility</th>
          </tr>
          </thead>
          <tbody>
          {% for event in organization.future_events %}
            <tr class="link pe-pointer" onclick="window.location.href='{% url 'event' event.pk %}'">
              <td>{{ event.name }}</td>
              <td>{{ event.start_date }}</td>
              <td>{{ event.end_date }}</td>
              <td>{{ event.public|yesno:_('Public,Private,Unknown') }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="center-items p-3">{% trans "No upcoming Events planned" %}</div>
      {% endif %}
    </div>
  </div>

  <div class="card bg-dark mt-3">
    <div class="card-header center-items justify-content-between">
      <h5 class="m-0">{% trans "Shifts" %}</h5>
      <div>
        <a class="btn btn-success" href="{% url 'organization_calendar' organization.pk %}"
           title="{% trans "ical Export" %}">
          <i class="fas fa-file-export"></i> {% trans "ical Export" %}
        </a>
        <a class="btn btn-success" href="{% url "shift_create" %}" title="{% trans "Create Shift" %}">
          <i class="fa-solid fa-calendar-plus"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="table-responsive p-1">
        {% if organization.shifts.all|length > 0 %}
          <table class="table table-striped table-dark mb-0 text-center">
            <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Type" %}</th>
              <th>{% trans "Start Time" %}</th>
              <th>{% trans "End Time" %}</th>
              <th>{% trans "Place" %}</th>
              <th>{% trans "Users/Required/Max" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for shift in organization.shifts.all %}
              <tr class="link pe-pointer"
                  onclick="window.location.href='{% url 'shift' shift.pk %}'">
                <td>{{ shift.display }}</td>
                <td>{{ shift.shift_group }}</td>
                <td>{{ shift.start }}</td>
                <td>{{ shift.end }}</td>
                <td>{{ shift.place }}</td>
                <td>{{ shift.participants|length }}/{{ shift.required_users }}/{{ shift.max_users }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="center-items p-3">{% trans "No current shifts" %}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}