<div class="nav-item dropdown">
  <div class="hidden">
    <form id="german-lang-form" action="{% url "set_language" %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path }}" />
      <input name="language" type="hidden" value="de" />
    </form>
    <form id="english-lang-form" action="{% url "set_language" %}" method="post">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ request.get_full_path }}" />
      <input name="language" type="hidden" value="en" />
    </form>
  </div>
  <a class="nav-link dropdown-toggle" href="#" id="language-toggle" role="button"
     data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {% trans "Language" %}
    <i class="fas fa-language"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="language-toggle">
    <a class="dropdown-item" href="javascript:document.getElementById('german-lang-form').submit()">
      {% trans "German" %}
    </a>
    <a class="dropdown-item" href="javascript:document.getElementById('english-lang-form').submit()">
      {% trans "English" %}
    </a>
  </div>
</div>