<tr>
  <td>
    {{ member }}
  </td>
  <td class="text-end">
    {% if org_perms.edit_members %}
      {% if org_perms.admin or not membership_type.admin %}
        <button type="button" class="btn btn-danger px-1 py-0 ms-2 me-4" data-bs-toggle="modal"
                data-bs-target="#confirmRemoveModal" data-bs-remove-name="{{ member }}"
                data-bs-remove-url="{% url 'membership_remove' organization.pk member.pk %}">
          <i class="fas fa-x pe-none"></i>
        </button>
      {% endif %}
    {% endif %}
  </td>
</tr>