{% if org_perms.see_admin_page %}
  <div class="my-3">
    <div class="btn-group w-100">
      {% url 'organization' organization.pk as org_url %}
      <a class="btn btn-secondary {% active org_url %}" href="{{ org_url }}"
         title="{% trans "Shift Overview" %}">
        <i class="fas fa-table-list"></i>
        <span class="d-none d-sm-block">{% trans "Organization Overview" %}</span>
      </a>
      {% url 'organization_admin' organization.pk as admin_url %}
      <a class="btn btn-secondary {% active admin_url %}" href="{{ admin_url }}"
         title="{% trans "Administrate Organization" %}">
        <i class="fas fa-building-shield"></i>
        <span class="d-none d-sm-block">{% trans "Organization Admin View" %}</span>
      </a>
      {% if org_perms.admin %}
        {% url 'organization_settings' organization.pk as settings_url %}
        <a class="btn btn-secondary {% active settings_url %}" href="{{ settings_url }}"
           title="{% trans "Organization Settings" %}">
          <i class="fas fa-wrench"></i>
          <span class="d-none d-sm-block">{% trans "Organization Settings View" %}</span>
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
<div class="card bg-dark my-3">
  <div class="card-header center-items justify-content-between">
    <h3 class="m-0 w-75">
      {{ organization.name }}
    </h3>
    <div>
      {% if org_perms.edit_organization %}
        <a class="btn btn-primary" href="{% url 'organization_update' organization.pk %}"
           title="{% trans "Edit Organization" %}">
          <i class="fas fa-edit"></i>
        </a>
      {% endif %}
      {% if org_perms.admin %}
        <a class="btn btn-info" href="{% url 'org_part_permissions_edit' organization.pk %}"
           title="{% trans "Update Shift Permissions" %}">
          <i class="fas fa-shield-halved"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    <div class="row flex-row-reverse">
      {% if organization.logo %}
        <div class="col-sm-5">
          <div class="organization-detail-logo">
            <img src="{{ organization.logo.url }}" alt="{% trans 'Logo' %}" />
          </div>
        </div>
      {% endif %}
      <div class="col-sm-7">
        <dl class="detail-horizontal">
          <dt>Email</dt>
          <dd>{{ organization.email }}</dd>
          <dt>Telephone</dt>
          <dd>{{ organization.telephone_number }}</dd>
          <dt>Website</dt>
          <dd>{{ organization.website }}</dd>
          <dt>Description</dt>
          <dd class="organization-description">{{ organization.description|default:'None'|linebreaks }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>