<div class="base-card card bg-dark my-3">
  <div class="card-header center-items justify-content-between">
    <h3 class="m-0">
      {{ organization.name }}
    </h3>
    <div>
      <div class="btn-group">
        {% url 'organization' organization.pk as org_url %}
        <a class="btn btn-info {% active org_url %}" href="{{ org_url }}"
           title="{% trans "Shift Overview" %}">
          <i class="fas fa-table-list"></i>
        </a>
        {% if org_perms.see_admin_page %}
          {% url 'organization_admin' organization.pk as admin_url %}
          <a class="btn btn-info {% active admin_url %}" href="{{ admin_url }}"
             title="{% trans "Administrate Organization" %}">
            <i class="fas fa-building-shield"></i>
          </a>
        {% endif %}
        {% if org_perms.admin %}
          {% url 'organization_settings' organization.pk as settings_url %}
          <a class="btn btn-info {% active settings_url %}" href="{{ settings_url }}"
             title="{% trans "Organization Settings" %}">
            <i class="fas fa-wrench"></i>
          </a>
        {% endif %}
      </div>
      {% if org_perms.edit_organization %}
        <a class="btn btn-info" href="{% url 'organization_update' organization.pk %}"
           title="{% trans "Edit Organization" %}">
          <i class="fas fa-edit"></i>
        </a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">
    {% if organization.logo %}
      <div class="organization-detail-logo">
        <img src="{{ organization.logo.url }}" alt="{% trans 'Logo' %}" />
      </div>
    {% endif %}
    <dl class="detail-horizontal">
      <dt>Email</dt>
      <dd>{{ organization.email }}</dd>
      <dt>Telephone</dt>
      <dd>{{ organization.telephone_number }}</dd>
      <dt>Website</dt>
      <dd>{{ organization.website }}</dd>
      <dt>Description</dt>
      <dd class="organization-description">{{ organization.description|default:'None'|linebreaks }}</dd>
    </dl>
  </div>
</div>