.calendar-nav {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-template-columns: 1fr 1fr 1fr;
}

.calendar-nav > div, .calendar-nav a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-nav a {
  background-color: var(--secondary);
  border-left: 1px solid var(--bs-body-color);
  border-right: 1px solid var(--bs-body-color);
}

.calendar-legend {
  display: flex;
  flex-direction: row;
  padding: .25rem;
}

.calendar-legend > div {
  margin-right: .5rem;
}

.calendar-color-sample {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--bs-body-color);
}

.calendar-month {
  /*border: 1px solid var(--bs-body-color);*/
  height: 100%;
  min-width: 700px;
  /*overflow-x: auto;*/
}

.cal-head {
  position: sticky;
  top: 0;
  z-index: 999;
}

.month-head, .week-head {
  display: grid;
  position: sticky;
  position: -webkit-sticky;
  top: -20px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;
  text-align: center;
}

.week-head > .day {
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-head > h3 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: left;
  margin-left: .5rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 150px;
  text-align: right;
}

.week > div {
  overflow: auto;
}

.week > div > ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.week > div > ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

/* Handle */
.week > div > ::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 3px;
}

.day {
  padding: 0 .25rem;
}

.calendar-month > div > div {
  border: 1px solid var(--bs-body-color)
}

.calendar-shift {
  text-align: center;
  border: 1px solid var(--bs-body-color);
  background-color: var(--bs-orange);
  display: block;
  width: 100%;
}

a.calendar-shift {
  color: var(--bs-body-color);
  text-decoration: none;
  text-align: center;
}

a.calendar-shift > a:hover {
  color: var(--bs-white);
}


.calendar-entry {
  margin-bottom: .25rem;
}

.calendar-entry-wrapper {
  overflow: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.calendar-shift-create {
  text-align: center;
  border: 1px solid var(--bs-body-color);
  background-color: var(--bs-green);
  color: var(--bs-body-color);
  width: 100%;
  display: none;
  cursor: pointer;
}

.calendar-shift-create:hover {
  color: var(--bs-body-color);
}

.calendar-entry-wrapper:hover .calendar-shift-create {
  display: block;
}


.noday {
  background: repeating-linear-gradient(
      45deg,
      var(--bs-gray-900),
      var(--bs-gray-700) 10px,
      var(--bs-gray-900) 10px,
      var(--bs-gray-900) 20px
  );
}

.today {
  background-color: #1c242f;
}

.planned {
  background: repeating-linear-gradient(
      315deg,
      var(--shift-bg-color),
      var(--shift-bg-color) 40px,
      transparent 40px,
      transparent 80px
  );
  text-shadow: 1px 1px 1px var(--shift-bg-color),
  1px -1px 1px var(--shift-bg-color),
  -1px 1px 1px var(--shift-bg-color),
  -1px -1px 1px var(--shift-bg-color),
  0 0 5px var(--shift-bg-color);
  color: var(--shift-color) !important;
  border: 3px solid var(--bs-gray-500);
}

.shift-type {
  background-color: var(--shift-bg-color) !important;
  --bs-table-accent-bg: var(--shift-bg-color) !important;
  color: var(--shift-color) !important;
  opacity: .7;
}

.shift-type a:hover {
  background-color: rgba(var(--bs-dark-rgb), .5);
  padding: .1rem .25rem;
}

.shift-type-table {
  display: grid;
  grid-auto-rows: 150px;
}

.shift-type-table > div {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row nowrap;
}

.shift-type-table > div > div {
  display: flex;
  flex-grow: 4;
  align-items: center;
  justify-content: center;
}
