{% extends "generic/form_base.html" %}
{% block form %}
  <div class="card bg-secondary p-3">
    <h4 class="text-center">{{ login_text|default:_('Login') }}</h4>
    <form method="post" id="user_form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        {% bootstrap_button _("Login") id="submit_button" button_type="submit" button_class="btn-primary" %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% if ldap_enabled or sso_enabled %}
          <a class="btn btn-info" href="?">{% trans "Return to selection" %}</a>
        {% endif %}
      {% endbuttons %}
    </form>
  </div>
  {% if is_local %}
    <div class="card bg-secondary p-3 text-center mt-3">
      <h4>{% trans "You don't have an Account?" %}</h4>
      <a class="btn btn-success" href="{% url "register" %}">{% trans "Register here" %}</a>
      {% if ldap_enabled or sso_enabled %}
        <div>{% trans "Or login using another Method" %}</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}