{% extends "generic/form_base.html" %}
{% block form %}
  <div class="card bg-dark p-3">
    <h4 class="text-center">
      {% if create %}
        {% trans "Register" %}
      {% else %}
        {% blocktrans %}
          Edit User {{ user }}
        {% endblocktrans %}
      {% endif %}
    </h4>
    <form method="post" id="user_form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% if create and feature.gdpr_template %}
        {% include feature.gdpr_template %}
      {% endif %}
      {% bootstrap_button _("Submit") id="submit_button" button_type="submit" button_class="btn-primary" %}
    </form>
  </div>
{% endblock %}