{% extends "generic/dual_column.html" %}
{% load shifts %}
{% block left %}
  <div class="sticky-top">
    <div class="card bg-dark p-3 my-2">
      <div class="center-items justify-content-between">
        <h4 class="text-center">{% trans "User" %} {{ user }}</h4>
        <div class="center-items">
          <a class="btn btn-success" href="{% url "user_edit_self" %}" title="{% trans "Edit user data" %}">
            <i class="fa-solid fa-user-pen"></i>
          </a>
          <button class="d-block d-lg-none btn btn-secondary ms-2" data-bs-toggle="collapse"
                  data-bs-target="#collapseUserBody" aria-expanded="true" aria-controls="collapseUserBody"><i
              class="fas fa-angle-up"></i>
          </button>
        </div>
      </div>
      <div id="collapseUserBody" class="collapse show">
        <dl class="detail-horizontal">
          <dt>{% trans "Username" %}</dt>
          <dd>{{ user.username }}</dd>
          <dt>{% trans "Name" %}</dt>
          <dd>{{ user.first_name }} {{ user.last_name }}</dd>
          <dt>{% trans "Display Name" %}</dt>
          <dd>{{ user.display_name|default:_('Unknown') }}</dd>
          <dt>{% trans "Email" %}</dt>
          <dd>{{ user.email }}</dd>
          <dt>{% trans "Phone Number" %}</dt>
          <dd>{{ user.phone_number|default:_('Unknown') }}</dd>
          <dt>{% trans "Member since" %}</dt>
          <dd>{{ user.date_joined|timesince }}</dd>
          <dt>{% trans "Total Shifts" %}</dt>
          <dd>{{ user.shifts.count }}</dd>
          <dt>{% trans "Groups" %}</dt>
          <dd>{{ user.groups.all|join:", "| default:_('None') }}</dd>
        </dl>
      </div>
    </div>
    <div class="card bg-dark">
      <div class="card-header center-items justify-content-between">
        <h5>{% trans "Organizations" %}</h5>
        <div>
          <button class="d-block d-lg-none btn btn-secondary" data-bs-toggle="collapse"
                  data-bs-target="#collapseOrgBody"
                  aria-expanded="true"
                  aria-controls="collapseOrgBody">
            <i class="fas fa-angle-up"></i> {% trans "Hide organizations" %}
          </button>
        </div>
      </div>
      <div id="collapseOrgBody" class="collapse show">
        <div class="d-flex gap-2 py-1 px-2">
          {% for membership in user.memberships.all %}
            <a class="link" href="{% url "organization" membership.organization.pk %}">
              <div class="bg-dark border border-2 my-2 center-items justify-content-start flex-row card-link">
                <div>
                  {% if membership.organization.logo %}
                    <div class="text-start overflow-hidden p-1">
                      <img style="aspect-ratio: 1;" src="{{ membership.organization.logo.url }}"
                           alt="{{ membership.organization.name }}"
                           height="92px">
                    </div>
                  {% else %}
                    <div class="center-items flex-wrap p-1" style="height: 100px; aspect-ratio: 1;">
                      <i class="fa-solid fa-eye-slash me-2"></i>
                      {% trans "No Logo available" %}
                    </div>
                  {% endif %}
                </div>
                <div class="center-items flex-column flex-nowrap p-3">
                  <div>
                    {{ membership.organization }}
                  </div>
                  <div>
                    {{ membership.type.name }}
                    {% if membership.type.admin %}
                      <i class="fas fa-user-shield"></i>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block right %}
  <div class="card bg-dark mt-2">
    <div class="card-header">
      <h4>{% trans "My Upcoming Shifts" %}</h4>
    </div>
    <div>
      {% if shifts.object_list|length > 1 %}
        <div>
          {% for shift in shifts.object_list %}
            {% shift_card shift %}
          {% endfor %}
        </div>
        {% if shifts.is_paginated %}
          <div class="d-flex justify-content-center bg-dark">
            {% bootstrap_pagination shifts.page_obj parameter_name=shifts.page_name pages_to_show=5 %}
          </div>
        {% endif %}
      {% else %}
        <div class="center-items p-3">
          <h4>{% trans "No upcoming shifts" %}</h4>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}