{% extends "generic/dual_column.html" %}
{% block top_level %}
  {% simpledisplaymodal 'deleteUserConfirmModal' _('Confirm User Deletion') %}
    <div>
      {% blocktrans with count=user.shift_count %}
        Are you sure you want to delete your data permanently?
        This includes all your {{ count }} shift participations!
        <h4 class="text-danger">Your data cannot be restored.</h4>
      {% endblocktrans %}
    </div>
    <div class="mt-3">
      <form action="{% url 'user_delete_self' %}" method="post">
        {% csrf_token %}
        <input class="d-none" name="confirm" type="text" id="id_confirm" value="true">
        <div>
          <button type="submit" class="btn btn-danger">
            {% trans "Yes, I want to permanently delete my Data" %}
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Abort" %}</button>
        </div>
      </form>
    </div>
  {% endsimpledisplaymodal %}
{% endblock %}
{% block left %}
  <div class="sticky-top">
    <div class="card bg-dark p-3 my-2">
      <div class="center-items justify-content-between">
        <h4 class="text-center">{% trans "User" %} {{ user }}</h4>
        <div class="center-items">
          {% if request.user == user %}
            <button type="button" class="btn btn-danger me-2" data-bs-toggle="modal"
                    data-bs-target="#deleteUserConfirmModal">
              <i class="fas fa-trash"></i>
            </button>
          {% endif %}
          <a class="btn btn-success" href="{% url "user_edit_self" %}" title="{% trans "Edit user data" %}">
            <i class="fa-solid fa-user-pen"></i>
          </a>
          <button class="d-block d-lg-none btn btn-secondary ms-2" data-bs-toggle="collapse"
                  data-bs-target="#collapseUserBody" aria-expanded="true" aria-controls="collapseUserBody"><i
              class="fas fa-angle-up"></i>
          </button>
        </div>
      </div>
      <div id="collapseUserBody" class="collapse show">
        <dl class="detail-horizontal">
          <dt>{% trans "Username" %}</dt>
          <dd>{{ user.username }}</dd>
          <dt>{% trans "Name" %}</dt>
          <dd>{{ user.first_name }} {{ user.last_name }}</dd>
          <dt>{% trans "Display Name" %}</dt>
          <dd>
            {% if user.display_name %}
              {{ user.display_name|default:_('Unknown') }}
            {% else %}
              <a class="btn btn-sm btn-outline-info" href="{% url "user_edit_self" %}" title="{% trans "Edit user data" %}">
                {% trans "Set Display Name" %}<i class="fa-solid fa-user-pen"></i>
              </a>
            {% endif %}
          </dd>
          <dt>{% trans "Email" %}</dt>
          <dd>{{ user.email }}</dd>
          <dt>{% trans "Phone Number" %}</dt>
          <dd>{{ user.phone_number|default:_('Unknown') }}</dd>
          <dt>{% trans "Member since" %}</dt>
          <dd>{{ user.date_joined|timesince }}</dd>
          <dt>{% trans "Total Shifts" %}</dt>
          <dd>{{ user.shift_count }}</dd>
          <dt>{% trans "Groups" %}</dt>
          <dd>{{ user.groups.all|join:", "| default:_('None') }}</dd>
        </dl>
      </div>
    </div>
    <div class="card bg-dark">
      <div class="card-header center-items justify-content-between">
        <h4>{% trans "Organizations" %}</h4>
        <div>
          <button class="d-block d-lg-none btn btn-secondary" data-bs-toggle="collapse"
                  data-bs-target="#collapseOrgBody"
                  aria-expanded="true"
                  aria-controls="collapseOrgBody">
            <i class="fas fa-angle-up"></i> {% trans "Hide organizations" %}
          </button>
        </div>
      </div>
      <div id="collapseOrgBody" class="collapse show">
        <div class="d-flex gap-2 py-1 px-2 flex-wrap">
          {% for organization in user.organizations.all %}
            <a class="link" href="{% url "organization" organization.pk %}">
              <div class="bg-dark border border-2 my-2 center-items justify-content-start flex-row card-link">
                <div>
                  {% if organization.logo %}
                    <div class="text-start overflow-hidden p-1">
                      <img style="aspect-ratio: 1;" src="{{ organization.logo.url }}"
                           alt="{{ organization.name }}"
                           height="92px">
                    </div>
                  {% else %}
                    <div class="center-items flex-wrap p-1" style="height: 100px; aspect-ratio: 1;">
                      <i class="fa-solid fa-eye-slash me-2"></i>
                      {% trans "No Logo available" %}
                    </div>
                  {% endif %}
                </div>
                <div class="center-items flex-column flex-nowrap p-3">
                  <div>
                    {{ organization }}
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block right %}
  <div class="card bg-dark mt-2">
    <div class="card-header center-items justify-content-between">
      {% url "user_profile_past" as past_url %}
      {% if request.path == past_url %}
        <h4>{% trans "Recent Shifts" %}</h4>
      {% else %}
        <h4>{% trans "Upcoming Shifts" %}</h4>
      {% endif %}
      <div class="center-items">
        {% if request.path == past_url %}
          <a class="btn btn-secondary" href="{% url "user_profile" %}?{{ request.GET.urlencode }}">
            <i class="fa-solid fa-hourglass-end" title="{% trans "Upcoming Shifts" %}"></i>
          </a>
        {% else %}
          <a class="btn btn-secondary" href="{{ past_url }}?{{ request.GET.urlencode }}">
            <i class="fa-solid fa-hourglass-start" title="{% trans "Past Shifts" %}"></i>
          </a>
        {% endif %}
      </div>
    </div>
    {% include "shifts/shift_url_filters.html" with expanded=False %}
    <div>
      {% if shifts.object_list|length > 0 %}
        <div>
          {% for shift in shifts.object_list %}
            {% shift_card shift %}
          {% endfor %}
        </div>
        {% if shifts.is_paginated %}
          <div class="d-flex justify-content-center bg-dark">
            {% bootstrap_pagination shifts.page_obj parameter_name=shifts.page_name pages_to_show=5 %}
          </div>
        {% endif %}
      {% else %}
        <div class="center-items p-3">
          {% if request.path == past_url %}
            <h4>{% trans "No recent Shifts" %}</h4>
          {% else %}
            <h4>{% trans "No upcoming shifts" %}</h4>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
